<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuzid.systeminfowidget">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/system_info_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:allowBackup="true" >
        <receiver android:name="com.manuzid.systeminfowidget.SystemInfoMainProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <action android:name="com.manuzid.systeminfowidget.1_GENERAL_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.2_MORE_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.3_DISPLAY_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.4_CAMERA_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.5_MEMORY_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.6_BATTERY_WIDGET" />
                <action android:name="com.manuzid.systeminfowidget.7_NETWORK_WIDGET" />

                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />

                <action android:name="android.intent.action.POWER_CONNECTED" />
                <action android:name="android.intent.action.POWER_DISCONNECTED" />

                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.RSSI_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/system_info_app_widget" />
        </receiver>
        <activity android:name=".preferences.ConfigPreferencesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.RightsLegalActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>